<div id="principal-adicionar">
    <form (submit)="SalvarProduto($event)" id="form-adicionar" class="form">
    <input pInputText id="nome" type="text" [formField]="ProdutoForm.nome" autocomplete="off" placeholder="Nome do produto" />

    <input pInputText id="estoque" type="number" [formField]="ProdutoForm.quantidade" placeholder="Quantidade em estoque" />

    <div class="checkbox">
        <span class="perguntaBox">Está em produção?</span>
        <p-checkbox [binary]="true" id="emProducao" [formField]="ProdutoForm.emProducao"></p-checkbox>
        <label for="emProducao">Sim</label>
        </div>

        <p-button type="submit" severity="info" label="{{ produtoEditando() ? 'Salvar' : 'Adicionar' }}" class="button" icon="pi pi-check" iconPos="right"></p-button>
        <p-button *ngIf="produtoEditando()" type="button" severity="info" (click)="CancelarEdicao()" label="Cancelar" class="button"></p-button>
    </form>
</div>