 <table id="tabela-produtos" class="table-fixed">
    <caption class="caption-top">Produtos Cadastrados</caption>
    <thead>
    <tr>
        <th>Nome</th>
        <th>Quantidade</th>
        <th>Em Produção</th>
        <th>Alterar</th>
        <th>Deletar</th>
    </tr>
    </thead>
            
    <tbody align="center">
    <tr *ngFor="let produto of produtos(); let i = index">
      <td>{{ produto.nome }}</td>
      <td>{{ produto.quantidade }}</td>
      <td>{{ produto.emProducao ? 'Sim' : 'Não' }}</td>
      <td>
         <app-alterar [produtos]="produtos" [produtoSelecionado]="produto" [index]="i"></app-alterar>
      </td>
      <td>
          <app-deletar [produto]="produto" (deletar)="DeletarProduto($event)"></app-deletar>
      </td>
    </tr>
    </tbody> 
</table>
