<head>
  <meta charset="utf-8" />
  <title> Site De Compras</title>
  <base href="/" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/x-icon" href="favicon.ico" />
</head>

<header>
  <div class="title">
    <h1>Site De Compras</h1>
  </div>

  <div class="nav">
    <!-- Navigation links -->
  </div>
</header>

<main class="main">

  <div class="content">

    <div class="apresentacao">
      <h1>Você está no {{ local() }}</h1>
    </div>

    <div class="content-principal">

      <div id="principal-adicionar">
        <form (submit)="onSalvarProduto($event)" id="form-adicionar">
          <input pInputText name="nome" type="text" [value]="produtoEditando()?.nome || ''" autocomplete="off" placeholder="Nome do produto" />

          <input pInputText name="estoque" type="number" mode="decimal"  [min]="0" [value]="produtoEditando()?.quantidade || ''" placeholder="Quantidade em estoque" required />

          <div class="checkbox">
            <span class="perguntaBox">Está em produção?</span>
            <p-checkbox [(ngModel)]="emProducaoCheck" [binary]="true" id="em-producao" name="emProducao"></p-checkbox>
            <label for="em-producao">Sim</label>
          </div>

          <button type="submit" class="botão">{{ produtoEditando() ? 'Salvar' : 'Adicionar' }}</button>
          <button type="button" *ngIf="produtoEditando()" (click)="onCancelarEdicao()" class="botão">Cancelar</button>
        </form>
      </div>

      <div class="divider"></div>

      <div id="principal-listagem">
        <span>Produtos Cadastrados</span>

        <table id="tabela-produtos">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Quantidade</th>
              <th>Em Produção</th>
              <th>Alterar</th>
              <th>Deletar</th>
            </tr>
          </thead>
          
          <tbody align="center">
            <tr *ngFor="let produto of produtos()">
              <td>{{ produto.nome }}</td>
              <td>{{ produto.quantidade }}</td>
              <td>{{ produto.emProducao }}</td>
              <td><button (click)="onAlterarProduto(produto)" class="botão">Alterar</button></td>
              <td><button (click)="onDeletarProduto(produto)" class="botão">Deletar</button></td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

  </div>
  
</main>

<footer>
  <p>&copy; 2026 Compras. All rights reserved.</p>
</footer>

<router-outlet />